<div class="list-data">
    <table id="data-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        <tr>
            <% for (user_row of data) { %>
                <tr>
                    <td><%= user_row.id %> </td>
                    <td><%= user_row.name %> </td>
                    <td><%= user_row.email %> </td>
                    <td><%= user_row.age %> </td>
                    <td><%= user_row.country %> </td>
                    <td>
                        <a id="edit" href="/edit/<%= user_row.id %>">Edit</a>
                        <a id="del" href="/delete/<%= user_row.id %>">Delete</a>
                    </td>
                </tr> 
            <% } %> 
        </tr>
    </table>
</div>